n8n/tutorials/Session 3 & 4 - Automated Daily Cash Flow Report (Tutorial).json
{
  "name": "Session 3 & 4 - Automated Daily Cash Flow Report (Tutorial)",
  "nodes": [
    {
      "parameters": {
        "content": "💵 Fetches cash inflows (deposits, revenue)\n\n\n",
        "height": 240,
        "width": 160
      },
      "id": "30076f63-9a0d-4890-84aa-b337299e9a0b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "💸 Fetches cash outflows (expenses, bills)\n\n",
        "height": 240,
        "width": 160
      },
      "id": "b5c93fff-6e6d-4f5a-b1b9-d45785121524",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "🧮 Calculates totals by category for both\n",
        "height": 496,
        "width": 160
      },
      "id": "537239cf-0017-44d9-8b53-b303ade9012a",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "☁️ Backs up to Google Drive\n",
        "height": 272,
        "width": 160
      },
      "id": "ea1ea9e8-89a2-4932-96ee-e733aea5b11c",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1536,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression"
            }
          ]
        }
      },
      "id": "98d8507d-df66-44ad-b397-bb0863c61ab6",
      "name": "Daily at 6 PM2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -32,
        688
      ],
      "typeVersion": 1,
      "notes": "⏰ DAILY TRIGGER\nRuns every day at 6:00 PM\nGenerates end-of-day report"
    },
    {
      "parameters": {
        "url": "https://api.accounting.com/transactions",
        "options": {}
      },
      "id": "4c6629ea-f9b5-41be-a80f-d9a77d7c9b90",
      "name": "Get Cash Inflows1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        192,
        592
      ],
      "typeVersion": 4.1,
      "notes": "💵 FETCH INFLOWS\nRetrieves all incoming payments\nToday's deposits & revenue"
    },
    {
      "parameters": {
        "url": "https://api.accounting.com/transactions",
        "options": {}
      },
      "id": "c71211be-a502-4831-ab3e-ef4c861452e1",
      "name": "Get Cash Outflows1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        192,
        896
      ],
      "typeVersion": 4.1,
      "notes": "💸 FETCH OUTFLOWS\nRetrieves all outgoing payments\nToday's expenses & bills"
    },
    {
      "parameters": {
        "jsCode": "// Process Inflows\nconst inflows = $input.first().json;\nlet totalInflow = 0;\nconst inflowsByCategory = {};\n\nif (Array.isArray(inflows)) {\n  inflows.forEach(transaction => {\n    totalInflow += parseFloat(transaction.amount || 0);\n    const category = transaction.category || 'Other';\n    if (!inflowsByCategory[category]) {\n      inflowsByCategory[category] = 0;\n    }\n    inflowsByCategory[category] += parseFloat(transaction.amount || 0);\n  });\n}\n\nreturn {\n  total_inflow: totalInflow.toFixed(2),\n  inflow_categories: inflowsByCategory,\n  inflow_count: Array.isArray(inflows) ? inflows.length : 0,\n  date: new Date().toISOString().split('T')[0]\n};"
      },
      "id": "d78431e9-7f8a-4328-a8ef-a5db49ad8ad1",
      "name": "Calculate Inflows1",
      "type": "n8n-nodes-base.code",
      "position": [
        416,
        624
      ],
      "typeVersion": 2,
      "notes": "🧮 CALCULATE INFLOWS\nSums total incoming cash\nGroups by category\nCounts transactions"
    },
    {
      "parameters": {
        "jsCode": "// Process Outflows\nconst outflows = $input.first().json;\nlet totalOutflow = 0;\nconst outflowsByCategory = {};\n\nif (Array.isArray(outflows)) {\n  outflows.forEach(transaction => {\n    totalOutflow += parseFloat(transaction.amount || 0);\n    const category = transaction.category || 'Other';\n    if (!outflowsByCategory[category]) {\n      outflowsByCategory[category] = 0;\n    }\n    outflowsByCategory[category] += parseFloat(transaction.amount || 0);\n  });\n}\n\nreturn {\n  total_outflow: totalOutflow.toFixed(2),\n  outflow_categories: outflowsByCategory,\n  outflow_count: Array.isArray(outflows) ? outflows.length : 0,\n  date: new Date().toISOString().split('T')[0]\n};"
      },
      "id": "22b880f6-3eb6-40f8-b595-ae22569d7eb6",
      "name": "Calculate Outflows1",
      "type": "n8n-nodes-base.code",
      "position": [
        416,
        816
      ],
      "typeVersion": 2,
      "notes": "🧮 CALCULATE OUTFLOWS\nSums total outgoing cash\nGroups by expense category\nCounts transactions"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "43ce23a1-f6c2-4786-9905-7d5cabff4a4f",
      "name": "Merge Data2",
      "type": "n8n-nodes-base.merge",
      "position": [
        640,
        720
      ],
      "typeVersion": 2.1,
      "notes": "🔀 COMBINE DATA\nMerges inflows + outflows\nPrepares for final report"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all();\nconst inflow = data[0].json;\nconst outflow = data[1].json;\n\nconst totalInflow = parseFloat(inflow.total_inflow || 0);\nconst totalOutflow = parseFloat(outflow.total_outflow || 0);\nconst netCashFlow = totalInflow - totalOutflow;\n\nreturn {\n  date: inflow.date,\n  total_inflow: totalInflow.toFixed(2),\n  total_outflow: totalOutflow.toFixed(2),\n  net_cash_flow: netCashFlow.toFixed(2),\n  inflow_categories: inflow.inflow_categories,\n  outflow_categories: outflow.outflow_categories,\n  inflow_count: inflow.inflow_count,\n  outflow_count: outflow.outflow_count,\n  cash_flow_status: netCashFlow >= 0 ? 'Positive' : 'Negative'\n};"
      },
      "id": "bd203bef-6e98-40f6-b6ef-79c66fb5fc20",
      "name": "Calculate Net Cash Flow2",
      "type": "n8n-nodes-base.code",
      "position": [
        864,
        720
      ],
      "typeVersion": 2,
      "notes": "📊 NET CALCULATION\nTotal Inflow - Total Outflow\nDetermines cash position\nPositive or Negative status"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Build category breakdown HTML\nlet inflowHTML = '';\nfor (const [category, amount] of Object.entries(data.inflow_categories)) {\n  inflowHTML += `<tr><td>${category}</td><td>$${parseFloat(amount).toFixed(2)}</td></tr>`;\n}\n\nlet outflowHTML = '';\nfor (const [category, amount] of Object.entries(data.outflow_categories)) {\n  outflowHTML += `<tr><td>${category}</td><td>$${parseFloat(amount).toFixed(2)}</td></tr>`;\n}\n\nconst statusColor = data.cash_flow_status === 'Positive' ? 'green' : 'red';\n\nconst htmlReport = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; max-width: 800px; margin: 20px auto; }\n    h1 { color: #333; border-bottom: 3px solid #4CAF50; padding-bottom: 10px; }\n    h2 { color: #666; margin-top: 30px; }\n    table { width: 100%; border-collapse: collapse; margin: 20px 0; }\n    th, td { padding: 12px; text-align: left; border-bottom: 1px solid #ddd; }\n    th { background-color: #4CAF50; color: white; }\n    .summary { background: #f5f5f5; padding: 20px; border-radius: 8px; margin: 20px 0; }\n    .positive { color: green; font-weight: bold; }\n    .negative { color: red; font-weight: bold; }\n  </style>\n</head>\n<body>\n  <h1>Daily Cash Flow Report</h1>\n  <p><strong>Date:</strong> ${data.date}</p>\n  \n  <div class=\"summary\">\n    <h2>Summary</h2>\n    <p><strong>Total Inflows:</strong> $${data.total_inflow} (${data.inflow_count} transactions)</p>\n    <p><strong>Total Outflows:</strong> $${data.total_outflow} (${data.outflow_count} transactions)</p>\n    <p><strong>Net Cash Flow:</strong> <span style=\"color: ${statusColor};\">$${data.net_cash_flow}</span></p>\n    <p><strong>Status:</strong> <span style=\"color: ${statusColor};\">${data.cash_flow_status}</span></p>\n  </div>\n  \n  <h2>Cash Inflows by Category</h2>\n  <table>\n    <tr><th>Category</th><th>Amount</th></tr>\n    ${inflowHTML}\n    <tr style=\"background: #f0f0f0; font-weight: bold;\"><td>Total</td><td>$${data.total_inflow}</td></tr>\n  </table>\n  \n  <h2>Cash Outflows by Category</h2>\n  <table>\n    <tr><th>Category</th><th>Amount</th></tr>\n    ${outflowHTML}\n    <tr style=\"background: #f0f0f0; font-weight: bold;\"><td>Total</td><td>$${data.total_outflow}</td></tr>\n  </table>\n</body>\n</html>\n`;\n\nreturn {\n  html_report: htmlReport,\n  ...data\n};"
      },
      "id": "35c67a28-c287-48d1-9c70-1179c9eef641",
      "name": "Generate HTML Report2",
      "type": "n8n-nodes-base.code",
      "position": [
        1088,
        720
      ],
      "typeVersion": 2,
      "notes": "📄 CREATE REPORT\nBuilds HTML formatted report\nIncludes all categories\nSummary + detailed breakdown"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "id": "01c77cbd-9feb-4e4c-8e43-2d0cf69526f7",
      "name": "Backup to Google Drive2",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1568,
        720
      ],
      "typeVersion": 3,
      "notes": "☁️ CLOUD BACKUP\nGoogle Drive storage\nFolder: /finance/reports/\nAutomatic archiving"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "mode": "username",
          "value": ""
        },
        "text": "📊 *Daily Cash Flow Report*\n\n*Date:* {{ $json.date }}\n\n💵 *Total Inflows:* ${{ $json.total_inflow }}\n💸 *Total Outflows:* ${{ $json.total_outflow }}\n📈 *Net Cash Flow:* ${{ $json.net_cash_flow }}\n\n*Status:* {{ $json.cash_flow_status }}\n\nFull report emailed to finance team.",
        "otherOptions": {}
      },
      "id": "8bb6ab26-5351-495a-b045-84b5d958e906",
      "name": "Post to Slack2",
      "type": "n8n-nodes-base.slack",
      "position": [
        1328,
        720
      ],
      "webhookId": "1af009f1-5a52-4ab9-bfc0-ccc771596ac6",
      "typeVersion": 2.1,
      "notes": "💬 SLACK NOTIFICATION\nChannel: #daily-reports\nChannel ID: C98765ZYXWV\nQuick summary for team"
    },
    {
      "parameters": {
        "content": "⏰ Triggers daily at 6 PM\n",
        "height": 272,
        "width": 160
      },
      "id": "cc5f1612-a223-476e-9c26-47235bc8e010",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "🔀 Merges the data together\n",
        "height": 272,
        "width": 160
      },
      "id": "cb903392-7a44-470e-b500-82c74a480c7c",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "📊 Calculates net cash flow (Inflow - Outflow)\n",
        "height": 272,
        "width": 160
      },
      "id": "0449ee5a-23c9-4b51-b05b-5ceb61dd588a",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "📄 Generates formatted HTML report\n",
        "height": 272,
        "width": 160
      },
      "id": "82a02695-68b7-4eaf-841a-e0a458febcce",
      "name": "Sticky Note22",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "💬 Posts summary to Slack",
        "height": 272,
        "width": 160
      },
      "id": "3866d1f3-9a90-4a5f-8aa3-8cc822ea10ab",
      "name": "Sticky Note24",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        608
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Daily at 6 PM2": {
      "main": [
        [
          {
            "node": "Get Cash Inflows1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Cash Outflows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cash Inflows1": {
      "main": [
        [
          {
            "node": "Calculate Inflows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cash Outflows1": {
      "main": [
        [
          {
            "node": "Calculate Outflows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Inflows1": {
      "main": [
        [
          {
            "node": "Merge Data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Outflows1": {
      "main": [
        [
          {
            "node": "Merge Data2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data2": {
      "main": [
        [
          {
            "node": "Calculate Net Cash Flow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Net Cash Flow2": {
      "main": [
        [
          {
            "node": "Generate HTML Report2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Report2": {
      "main": [
        [
          {
            "node": "Post to Slack2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Slack2": {
      "main": [
        [
          {
            "node": "Backup to Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7a2d6a58-b4ca-4ead-a377-4a85829b9e4c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8a4eb953158126f1bc43da60778a4b1b125763537ca277371edcdf97d8e5ecc"
  },
  "id": "s8VmZOT3NmwTSHJC",
  "tags": [
    {
      "updatedAt": "2026-03-10T03:58:51.614Z",
      "createdAt": "2026-03-10T03:58:51.614Z",
      "id": "fDmsqiFF88DSAliH",
      "name": "Tutorial"
    }
  ]
}